body{
    background-color: khaki;
}

#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 2s;
    width 3s,
    height 3s,
    rotate 5s;
}
#box1:hover{
    background-color: purple;
}



#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes box2move{
    from{
        height:150px:
        width: 150px;
        translate: 0 0 ;
    }
    50% {
        height:300px;
        width:300px

    }
    to {
        height:150px;
        width:150px;
        translate: 90vw 0;
    }

}